{% extends 'layout.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row gx-3">
            <div class="col">
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex flex-column border border-dark rounded p-2 gap-2">
                        <div class="h4">Address</div>
                        <div>IPv4: 
                            {% if without_mac %}
                                {% if data["address"]["@addr"] is defined %}
                                    {{ data["address"]["@addr"]}}
                                {% endif %}
                            {% else %}
                                {% if data["address"][0]["@addr"] is defined %}
                                    {{ data["address"][0]["@addr"]}}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>IPv6:</div>
                        <div>MAC: 
                            {% if not without_mac %}
                                {% if data["address"][1]["@addr"] is defined %}
                                    {{ data["address"][1]["@addr"]}}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>MAC Vendor: 
                            {% if not without_mac %}
                                {% if data["address"][1]["@vendor"] is defined %}
                                    {{ data["address"][1]["@vendor"]}}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>Hostnames: 
                            {% if data["hostnames"] is defined%}
                                {% if data["hostnames"] is not none %}
                                    {{ data["hostnames"]}}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex flex-column border border-dark rounded p-2 gap-2">
                        <div class="h4">Device</div>
                        <div class="h5">Status: 
                            {% if data["status"] is defined %}
                                {% if data["status"]["@state"] is defined %}
                                    {{ data["status"]["@state"] }}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="ps-3">Reason: 
                            {% if data["status"] is defined %}
                                {% if data["status"]["@reason"] is defined %}
                                    {{ data["status"]["@reason"] }}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="ps-3">Reason_TTL: 
                            {% if data["status"] is defined %}
                                {% if data["status"]["@reason_ttl"] is defined %}
                                    {{ data["status"]["@reason_ttl"] }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex flex-column border border-dark rounded p-2 gap-2">
                        <div class="h4">OS</div>
                        <div>Name: 
                            {% if data["os"] is defined %}
                                {% if data["os"]["osmatch"] is defined %}
                                    {% if data["os"]["osmatch"]["@name"] is defined %}
                                        {{ data["os"]["osmatch"]["@name"] }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>Accuracy: 
                            {% if data["os"] is defined %}
                                {% if data["os"]["osmatch"] is defined %}
                                    {% if data["os"]["osmatch"]["@accuracy"] is defined %}
                                        {{data["os"]["osmatch"]["@accuracy"]}}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="h5">Class:</div>
                        <div class="ps-3">OS Family:
                            {% if data["os"] is defined %}
                                {% if data["os"]["osmatch"] is defined %}
                                    {% if data["os"]["osmatch"]["@osfamily"] is defined %}
                                        {{data["os"]["osmatch"]["osclass"]["@osfamily"]}}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="ps-3">OS Gen:
                            {% if data["os"] is defined %}
                                {% if data["os"]["osmatch"] is defined %}
                                    {% if data["os"]["osmatch"]["osclass"] is defined %}
                                        {% if data["os"]["osmatch"]["osclass"]["@osgen"] is defined %}
                                            {{ data["os"]["osmatch"]["osclass"]["@osgen"] }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="ps-3">Type: 
                            {% if data["os"] is defined %}
                                {% if data["os"]["osmatch"] is defined %}
                                    {% if data["os"]["osmatch"]["osclass"] is defined %}
                                        {% if data["os"]["osmatch"]["osclass"]["@type"] is defined %}
                                            {{ data["os"]["osmatch"]["osclass"]["@type"] }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="ps-3">Vendor: 
                            {% if data["os"] is defined %}
                                {% if data["os"]["osmatch"] is defined %}
                                    {% if data["os"]["osmatch"]["osclass"] is defined %}
                                        {% if data["os"]["osmatch"]["osclass"]["@vendor"] is defined %}
                                            {{ data["os"]["osmatch"]["osclass"]["@vendor"] }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="ps-3">Accuracy: 
                            {% if data["os"] is defined %}
                                {% if data["os"]["osmatch"] is defined %}
                                    {% if data["os"]["osmatch"]["osclass"] is defined %}
                                        {% if data["os"]["osmatch"]["osclass"]["@accuracy"] is defined %}
                                            {{ data["os"]["osmatch"]["osclass"]["@accuracy"] }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary"><a href="{{ url_for('show_json') }}?scan_id={{ scan_id }}&host_ip={{ host_ip }}" class="link-light">View JSON</a></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border border-dark rounded p-2">
                    <div class="h4">Ports</div>
                    <div class="d-flex flex-column border border-dark rounded p-2 gap-2 vh-100 overflow-auto">
                        {% if data["ports"] is defined %}
                            {% if data["ports"]["port"] is defined %}
                                {% for port in data["ports"]["port"] %}
                                    <div class="d-flex flex-column border border-dark rounded p-2 gap-2">
                                        <div class="h4">Port ID: 
                                            {% if port["@portid"] is defined %}
                                                {{ port["@portid"] }}
                                            {% endif %}
                                        </div>
                                        <div>Protocol: 
                                            {% if port["@protocol"] is defined %}
                                                {{ port["@protocol"] }}
                                            {% endif %}
                                        </div>
                                        <div>Service: 
                                            {% if port["service"] is defined %}
                                                {% if port["service"]["@name"] is defined %}
                                                    {{ port["service"]["@name"]}} 
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div>Product: 
                                            {% if port["service"] is defined %}
                                                {% if port["service"]["@product"] is defined %}
                                                    {{ port["service"]["@product"]}} 
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div>Version: 
                                            {% if port["service"] is defined %}
                                                {% if port["service"]["@version"] is defined %}
                                                    {{ port["service"]["@version"]}} 
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div>Extra Info: 
                                            {% if port["service"] is defined %}
                                                {% if port["service"]["@extrainfo"] is defined %}
                                                    {{ port["service"]["@extrainfo"]}} 
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="h5">State: 
                                            {% if port["state"] is defined %}
                                                {% if port["state"]["@state"] is defined %}
                                                    {{ port["state"]["@state"] }}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="ps-3">Reason: 
                                            {% if port["state"] is defined %}
                                                {% if port["state"]["@reason"] is defined %}
                                                    {{ port["state"]["@reason"] }}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="ps-3">Reason_TTL: 
                                            {% if port["state"] is defined %}
                                                {% if port["state"]["@reason_ttl"] is defined %}
                                                    {{ port["state"]["@reason_ttl"] }}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
